<div class="flashmessage">
  <% if (success && success.length) { %> 
    <div class="alert alert-primary" role="alert" id="successMessage">
      <%= success %>
    </div>
  <%} %> 
  <% if (error && error.length) { %> 
    <div class="alert alert-warning" role="alert" id="errorMessage">
      <%= error %>
    </div>
  <%} %> 
</div>

<script>
  // Get the message elements
  const successMessage = document.getElementById("successMessage");
  const errorMessage = document.getElementById("errorMessage");

  // Hide the success message after 5 seconds
  if (successMessage) {
    setTimeout(() => {
      successMessage.style.display = "none";
    }, 5000);
  }

  // Hide the error message after 5 seconds
  if (errorMessage) {
    setTimeout(() => {
      errorMessage.style.display = "none";
    }, 5000);
  }
</script>
