<% layout('layout/boilerplate.ejs') -%>
<head>
     <style>
   .icon{
    position: absolute;
    left: 75%;
    margin-top: -27px;
   }
   
 
  </style>
</head>
<body>
    <h2>change Password</h2>
    <form action="/changepassword" id="form" style="width: 80%; margin: auto;" method="post" novalidate>
  <div class="mb-3 row-4">
    <label for="oldpassword" class="col-sm-2 col-form-label">Old Password</label>
    <div class="col-sm-10" id="password-div">
      <input type="password" name="oldpassword" class="form-control" id="oldpassword" placeholder="Old Password"><i class="fa-solid fa-eye-slash icon"id="oldpasswordeye"></i>
      <p style="color: red;" id="oldpasswordp"></p>
    </div>
  <div class="mb-3 row-4">
    <label for="password" class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-10" id="password-div">
      <input type="password" name="password" class="form-control" id="password" placeholder="Password"><i class="fa-solid fa-eye-slash icon"id="passwordeye"></i>
      <p style="color: red;" id="passwordp"></p>
    </div>
  <div class="mb-3 row-4">
    <label for="password" class="col-sm-2 col-form-label">Confirm Password</label>
    <div class="col-sm-10"id="confirmpassword-div">
      <input type="password" name="confirmpassword" class="form-control" id="confirmpassword" placeholder="Confirm Password"><i class="fa-solid fa-eye-slash icon" id="confirmpasswordeye" ></i>
      <p style="color: red;" id="confirmpasswordp"></p>
    </div>
    
  </div>
  <button class="btn btn-primary">Change Password</button>
</div>
    </div>

    </form>
    <script>
        let password=document.getElementById("password")
        let confirmpassword= document.getElementById("confirmpassword")
        let passwordp=document.getElementById('passwordp')
        let confirmpasswordp=document.getElementById('confirmpasswordp')
        let oldpassword=document.getElementById("oldpassword")
        let oldpasswordp=document.getElementById('oldpasswordp')
        function changetype(input,eye) {
  if (input.type=="password") {
    input.type = "text";
    eye.classList.replace("fa-eye-slash","fa-eye");
  } else {
        input.type = "password";
        eye.classList.replace("fa-eye", "fa-eye-slash");
  }
}
        let passwordeye = document.getElementById("passwordeye")
let confirmpasswordeye=document.getElementById("confirmpasswordeye")
let oldpasswordeye=document.getElementById("oldpasswordeye")
passwordeye.onclick = function () {
  changetype(password, passwordeye);
};
confirmpasswordeye.onclick = function () {
  changetype(confirmpassword, confirmpasswordeye);
};
oldpasswordeye.onclick = function () {
  changetype(oldpassword, oldpasswordeye);
};
let form=document.getElementById('form');
form.addEventListener("submit",(e)=>{
    let submitbol=true;
    if (!password.value) {
        passwordp.innerHTML="password can't be empty"
        password.style.outline="2px solid red"
        submitbol=false;
    }else if (password.value.length<8) {
           passwordp.innerHTML="password must be eight character long"
        password.style.outline="2px solid red"
        submitbol=false;
    }else{
           passwordp.innerHTML=""
        password.style.outline="none"
    }
    if (!oldpassword.value) {
        oldpasswordp.innerHTML="password can't be empty"
        oldpassword.style.outline="2px solid red"
        submitbol=false;
    }else if (oldpassword.value.length<8) {
           oldpasswordp.innerHTML="password must be eight character long"
        oldpassword.style.outline="2px solid red"
        submitbol=false;
    }else{
           oldpasswordp.innerHTML=""
        oldpassword.style.outline="none"
    }
    if (!confirmpassword.value) {
        confirmpasswordp.innerHTML="password can't be empty"
        confirmpassword.style.outline="2px solid red"
        submitbol=false;
    }else if (confirmpassword.value!=password.value) {
           confirmpasswordp.innerHTML="password does not match please check"
        confirmpassword.style.outline="2px solid red"
        submitbol=false;
    }else{
           confirmpasswordp.innerHTML=""
        confirmpasswordp.style.outline="none"
    }
    if (!submitbol) {
        e.preventDefault()
    }
})
    </script>
</body>